<head>
  <meta charset="UTF-8">
  <title>Tienda de Ropa</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>


<div class="fondo">
  <div class="contenedor-padre">
    <div class="contenedor">
      <div>
        <h1>Tienda de Ropa</h1>
        <table border="1" *ngIf="hayRegistros(); else sinarticulos">
          <tr>
            <td>Codigo</td>
            <td>Descripcion</td>
            <td>Precio</td>
            <td>Borrar</td>
            <td>Seleccionar</td>

          </tr>
          <tr *ngFor="let art of articulos">
            <td>{{art.codigo}}</td>
            <td>{{art.descripcion}}</td>
            <td>${{art.precio}}</td>
            <td><button (click)="baja(art.codigo)"><i class="fas fa-trash"></i></button></td>
            <td><button (click)="seleccionar(art.codigo)"><i class="fas fa-arrow-right"></i></button></td>
          </tr>
        </table>
        <ng-template #sinarticulos>
          <p>No hay articulos.</p>
        </ng-template>
        <div>
          <p>
            Descripcion:<input type="text" [(ngModel)]="art.descripcion" />
          </p>
          <p>
            Precio: <input type="number" [(ngModel)]="art.precio" />
          </p>
          <p>
            <button (click)="alta()" class="boton">Agregar</button>
            <button (click)="modificacion()" class="boton">Modificar</button>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>