.contenedor-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Esto centra verticalmente en toda la altura de la pantalla */
}

.contenedor {
  width: fit-content;
  height: fit-content;
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}


.boton {
  margin-right: 70px;
  margin-left: 50px;
  background-color: #ffffff;
  border: 1px solid #8a2be2;
  color: #8a2be2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.boton:hover {
  background-color: #8a2be2;
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  /* Borde para la tabla */
}



table th,
table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  /* Borde inferior para las celdas */
}

table th {
  background-color: #4CAF50;
  /* Color de fondo para las celdas de encabezado */
  color: white;
}

h1 {
  font-size: 2.5rem;
  color: #8a2be2;
  /* Violeta fuerte (Color: Blue Violet) */
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fondo {
  background: #bdc3c7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
}

input[type="text"],
input[type="number"] {
  width: 200px;
  /* Ajusta el ancho según tus preferencias */
  margin-right: 10px;
  /* Espaciado entre los campos de entrada */
}

p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Espacio entre los párrafos (ajusta según sea necesario) */
}

/* Establece un ancho mínimo para los labels (etiquetas) */
p label {
  min-width: 100px;
  /* Ajusta el ancho mínimo según tus necesidades */
  margin-right: 10px;
  /* Espacio entre el label y el campo de entrada */
}

/* Alinea los campos de entrada horizontalmente */
p input[type="text"],
p input[type="number"] {
  flex-grow: 1;
  /* Toma todo el espacio restante en el párrafo */
}